# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Zerocracy
# SPDX-License-Identifier: MIT

*-SAVE-ERROR
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.otf
*.out
*.pyg
*.run.xml
*.synctex.gz
*.ttf
*.xcp
*.zip
.DS_Store
.idea/
_eolang/
_minted-*
iexec.ret
logo.svg
palette.css
palette.tex
sales-deck-blx.bib
sales-deck.pdf
founder-pitch.pdf
svg-inkscape/
