*-SAVE-ERROR
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.pyg
*.run.xml
*.synctex.gz
*.xcp
*.zip
.DS_Store
.idea/
_eolang/
_minted-*
sales-deck-blx.bib
sales-deck.pdf
iexec.ret
logo.svg
svg-inkscape/
